*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
/* BG: #82c0dd #8ecae6,  #003049 Yellows: #fac518, #dd6c03*/
main{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:  #82c0dd;
}
#intro-container{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px auto;
    border: 10px solid #fac518;
    box-shadow: 6px 6px 0px #dd6c03;
    background: #5791aa;
    /* #62a0bb, #5791aa */
    border-radius: 20px;
    transition: all 0.4s ease;
}
#title{
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    color: #fac518;
    text-shadow: 3px 3px #dd6c03;
}
#mode-selector{
    height: 100px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease !important;
}
#mode-selector button{
    height: 50px;
    width: 120px;
    text-align: center;
    border-style: none;
    background: transparent;
    border: 3px solid #fac518;
    border-radius: 6px;
    color: #fac518;
    cursor: pointer;
    transition: box-shadow, transform 0.2s ease;
}
#mode-selector button:hover, button.game-over-btns:hover{
    box-shadow: 4px 4px 0px #dd6c03;
    transform: translate(-1px, -1px);
}
.close{
    height: 120px !important;
    padding-top: 40px;
    transform: translateY(-80px);
    
}
.hidden{
    opacity: 0;
    pointer-events: none;
    /* display: none !important; */
}
.p-events-none{
    pointer-events: none;
}
.game-over-btns{
    position: absolute;
    bottom: 100px;
    height: 60px;
    width: 140px;
    font-size: 1.1rem;
    text-align: center;
    border-style: none;
    background: #5791aa;
    border: 3px solid #fac518;
    border-radius: 6px;
    color: #fac518;
    cursor: pointer;
    transition: box-shadow, transform 0.2s ease;
}
#play-again{
    left: 120px;
}
#menu-screen{
    right: 120px;
}
/* GAME WINDOW */
#game-window{
    position: absolute;
    top: 20vh;
    height: 80vh;
    width: 100vw;
    border-top: 5px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.8s ease;
}
/* SCORE BOARDS */
.score-board{
    height: 200px;
    width: 300px;
    /* border: 3px solid #fac518; */
    border-radius: 6px;
    /* background: #5791aa; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.score-board, #player-turn, .cell{
    color: #fac518;
    text-shadow: 3px 3px #dd6c03;
}
.score-board h2{
    font-size: 2.5rem;
}
.score-board h3{
    font-size: 1.8rem;
}
h3 span{
    margin-left: 15px;
}
/* GAME BOARD */
#game-board{
    height: 70vh;
    width: 600px;
    /* border: 3px solid #fac518; */
    border-radius: 6px;
    /* overflow: hidden; */
}
#player-turn{
    height: 80px;
    width: 100%;
    /* border-bottom: 4px solid #fac518; */
    /* background: #5791aa; */
    display: flex;
}
#player-turn h3{
    width: 80%;
    font-size: 2.4rem;
    text-align: center;
    margin:  auto;
}
#player-turn span{
    width: auto;
}
#game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap:10px;
    grid-row-gap: 10px;
    background: #457b9d;
    overflow: hidden;
}
.cell{
    height: 19vh;
    background: #82c0dd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell:hover{
    box-shadow: 0px 0px 10px #acd9f5;
}
.cell h2{
    font-size: 8rem;
}